/* ==================Common styles================ */
.list 
{
    list-style-type: none;
}

.link {
    text-decoration: none;
 }

button {
    cursor: pointer;
}
/* ==================Common styles================ */


/* ===============Header styles====================== */
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #2E2F42;
}

.logo { 
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
color: #2E2F42;
}

span {
    color: #4D5AE5;
    font-family: inherit;
}

.menu-link {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
color:#2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.address-menu-link {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;  
color: #434455;
}

.address-menu-link:hover,
.address-menu-link:focus {
    color: #404BBF;
}

/* ===============Header styles====================== */


/* =============Hero styles====================== */

.main-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.order-service-btn {  
font-size: 16px;
font-weight: 500;
background-color: #4D5AE5;
color:  #FFFFFF; 
}

.order-service-btn:hover,
.order-service-btn:focus {
background-color: #404BBF;
color:  #FFFFFF;
}

/* =============Hero styles====================== */


/* =============Benefits styles================ */

.benefits-list-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.benefits-list-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: #434455;
}

/* =============Benefits styles============== */

/* =============Team styles============== */

.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}

.team-list-fullname {    
font-size: 20px;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.02em; 
color: #2E2F42;
}

.team-list-position {
font-size: 16px;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}

/* =============Team styles============== */

/* =============Portfolio styles============== */

.portfolio-title {
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
}

.portfolio-list-product {
font-size: 20px;
font-weight: 500;
line-height: 1.20; 
letter-spacing: 0.02em;
color: #2E2F42;
}

.portfolio-list-service {
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: #434455;
}

/* =============Portfolio styles============== */


/* =============Footerstyles============== */

.page-footer-logo {
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
color: #F4F4FD;
}

.page-footer-text {
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: #F4F4FD;
}
/* =============Footerstyles============== */